<!-- templates/question.html -->
<div class="rounded-md flex flex-col bg-base-200 gap w-full">
    <div class="flex justify-between items-start">
        <div class="flex flex-col gap-2 items-start justify-center">
            <div class="flex gap-2 items-center justify-start">
                <div class="tooltip" data-tip="{{ question.created_at.format("%A, %B %d, %Y at %-I:%M %p").to_string() }}">
                    <p class="text-sm">{{ crate::time::time_ago(question.created_at) }}</p>

                </div>
                {% if user.is_admin %}
                    <a class="text-sm text-gray-500" href="/app/user/{{ question.user_id }}"> from {{ question.username }}</a>
                {% endif %}
            </div>
            <p class="text-xl font-bold truncate">{{ question.title }}</p>
        </div>
        <div class="flex gap-2 items-center">
        {% if !user.is_admin %}
            {% if question.answered %}
                <div class="badge badge-success font-semibold">Answered</div>
            {% else %}
                <div class="badge badge-error font-semibold">Unanswered</div>
            {% endif %}
        {% endif %}
        {% if question.public %}
            <div class="badge badge"> Public</div>
        {% endif %}
        </div>
    </div>
    <p class="text-gray-500 truncate w-full max-w-sm sm:max-w-lg">
        {% if question.body.is_empty() %}No body{% else %}{{ question.body }}{% endif %}
    </p>
</div>
